<div ng-if="!issue" class="container page-header">
	<div class="alert alert-danger"><h2>Sorry, we could not find your issue!</h2></div>
</div>

<div class="issue" ng-if="issue">
	<div class="issue-header">
		<h2 ng-if="issue">{{issue.title}}</h2>
		<button ng-click="brightIssue(issue)" ng-disabled="issue.voted"><i class="fa fa-lightbulb-o"></i> Bright</button>
		<button ng-click="dimIssue(issue)" ng-disabled="issue.voted">Dim</button>
		<span class="badge">{{issue.brightCounter}}</span>

		<div class="viewpoints-toggle">
			<h5>Show/Hide Viewpoints</h5>
			<div class="hover-hand inline-label" ng-click="toggleVisible(view)" ng-repeat="view in views">
				<span class="label label-success" ng-if="view.visible">{{view.title}}</span>
				<span class="label label-default" ng-if="!view.visible">{{view.title}}</span>
			</div>
		</div>
	</div>

	<div class="viewpoints">
		<div class="viewpoint" ng-controller="ViewpointCtrl" ng-repeat="view in views" ng-if="view.visible">

			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="pull-right">Created {{view.datePosted | fromNow}}</p>
					<h4>{{view.title}}</h4>
					<button ng-click="brightView(view)" ng-disabled="view.voted"><i class="fa fa-lightbulb-o"></i> Bright</button>
					<button ng-click="dimView(view)" ng-disabled="view.voted">Dim</button>
					<span class="badge">{{view.brightCounter}}</span>
				</div>
				<div class="panel-body">
					<div ng-repeat="card in cards">
						<div class="well">{{card.title}}</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>