a {
  text-decoration: none;
}

#main-content {
	margin-top: 50px;
}

.viewpoints {
	display: table;
	width: 100%;
}

.viewpoint {
	display: table-cell;
}

.issue {
	padding-left: 12px;
	padding-right: 12px;
}

.issue-header {
	padding: 12px;
	margin-bottom: 12px;
	text-align: center;
}

.hover-hand {
	cursor: pointer;
}

.inline-label {
	display: inline-block;
	margin-left: 4px;
}